<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"  "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/main_style.css" />
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery-1.4.2.min.js"></script>
    {% block additional_js %}{% endblock %}
</head>
<body>

<div id="top-bar">
    <img src="{{ STATIC_URL }}img/logo.png" alt="DZone" class="floatleft"/>
    {% block name %}{% endblock %}

    <div id="right-side">
        {% block user %}{% endblock %}
    </div><!-- right-side -->
</div><!-- top-bar -->

{% block menu %}{% endblock %}

<div id="main-content">
    <div id="feature-content">

        <div id="feature-left">
            {% block content %}{% endblock %}
        </div><!-- feature-left -->

        <div id="feature-right">
            <img src="{{ STATIC_URL }}img/barracuda.gif" alt="Logo" class="floatright" />
        </div><!-- feature-right -->
        <div class="clear"></div>
    </div><!-- feature-content -->
</div><!-- main-content -->

<div id="footer">
    <h1> WORK in PROGRESS! NOT USABLE!</h1>
    &copy;2011 by Unknowns Ltd.
</div><!-- footer -->

</body>
</html>
